node_modules/
dist/
build/
coverage/
.nyc_output/
*.tsbuildinfo

logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.env
.env.*
!.env.example

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

.DS_Store
Thumbs.db

.temp/
.tmp/
pids/
*.pid
*.pid.lock
*.seed

report.*.*.*.*.json
