.gradle/
.kotlin/
build/
**/build/
out/
**/out/
bin/
**/bin/

!gradle/wrapper/gradle-wrapper.jar

.idea/
**/.idea/
.cursor/
.vscode/
*.iml
*.ipr
*.iws

.classpath
.factorypath
.project
.settings/
.apt_generated/
.springBeans
.sts4-cache/

.DS_Store
Thumbs.db
*.log
