PUBLISHER_PORT=24110
DISCUSSION_PORT=24130
HTTP_HOST=0.0.0.0
ENV=local

# Postgres
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=distcomp
DB_SCHEMA=distcomp

# Cassandra
CASSANDRA_HOST=cassandra
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=distcomp