[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"
flake8 = "*"
djangorestframework = "*"
pre-commit = "*"
dotenv = "*"
django-db-prefix = "*"
dj-database-url = "*"
pytest = "*"
pytest-django = "*"
testcontainers = "*"
django-cassandra-engine = "1.7.0"
requests = "*"
pyjwt = "*"
bcrypt = "*"


[dev-packages]

[requires]
python_version = "3.14"
